<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members-Only</title>
    <link rel="stylesheet" href="css/navbar.css"> <!-- Link to your CSS file -->
</head>
<body>
    <nav>
        <h1>Members-Only</h1>
        <% if (auths) { %>
            <div>
                <a href="/logout"><button class="btn">LOGOUT</button></a>
            </div>
        <% } else { %>
            <div>
                <a href="/login"><button class="btn">LOGIN</button></a>
                <a href="/signup"><button class="btn">SIGNUP</button></a>
            </div>
        <% } %>

    </nav>
</body>
</html>